* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container,
.header,
.header-links,
.title-block,
.god-info .content,
.god-container,
.god-container div,
.card-block .content,
.card,
footer {
    display: flex;
}

.container {
    flex-direction: column;
    margin: 0px auto;
}

body {
    height: 100vh;
    background-color:azure;
}

header {
    background-color: aquamarine;
}

.header {
    justify-content: space-between;
    max-width: 600px;
    margin: 0px auto;

}

.header-links {
    align-items: center;
    gap: 20px;
}

.title-bar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 700px;
    margin: 25px auto;
}

.title-bar {
    background-color: aqua;
}

.title-block {
    flex-direction: column;
    max-width: 360px;
    justify-content: space-between;
    padding: 10px;
}

.title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.title-subtext {
    font-size: 20px;
    margin-bottom: 20px;
}

.sign-up {
    width: 100px;
    padding: 6px 20px;
    background-color: blue;
    border-radius: 8px;
    font-size: 16px;
    color: white;
}

.odin img {
    max-width: 100%;
}

.god-info {
    background-color: red;
}

.god-info .content {
    flex-direction: column;
    text-align: center;
}

.god-container {
    justify-content: space-between;
    margin-top: 18px;
}

.god-card {
    flex-direction: column;
    max-width: 170px;
    font-size: 16px;
    font-weight: 600;
}

.god-card img {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.ragnarok {
    background-color: bisque;
}

.ragnarok .content {
    font-size: 20px;
}

.card-block {
    background-color: burlywood;
}

.card-block .content{
    justify-content: space-between;
    background-color: blue;
    color: white;
    border-radius: 8px 8px;
    padding: 40px 80px;
    margin: 40px auto;
}

.card-block .sign-up {
    border-color: white;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 100px;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    padding: 20px 0px;
}
