* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.title-bar {
    background-image: url(/images/nordic_landscape.png);
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-color: aqua;
}

.god-info {
    background-image: url(/images/bg_runic_symbols_2.png);
}

.ragnarok {
    background-image: url(/images/ragnorak_war_2.png);
    background-repeat: 100% auto;
}

.card-block {
    background-image: url(/images/bg_runic_symbols.png);
}

.container,
.header,
.header-links,
.title-block,
.god-info .content,
.god-container,
.god-container div,
.card-block .content,
.card,
footer {
    display: flex;
}

.title-bar .content,
.god-info .content,
.ragnarok .content,
.card-block .content {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

header {
    background-color: rgb(237, 235, 222);
}

.container {
    flex-direction: column;
    margin: 0px auto;
}

body {
    height: 100vh;
}

.header-links {
    align-items: center;
    gap: 20px;
}

.title-bar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    max-width: 800px;
    margin: 25px auto;
}

.header {
    justify-content: space-between;
    margin: 0px auto;
}

.title-block {
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    padding: 10px;
}

.title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 15px;
}

.title-subtext {
    margin-bottom: 20px;
}

.odin {
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid black;
}

.sign-up {
    width: 100px;
    padding: 6px 20px;
    background-color: blue;
    border-radius: 8px;
    font-size: 16px;
    color: white;
    border-color: white;
}

.god-info .content {
    flex-direction: column;
    text-align: center;
}

.god-container {
    justify-content: space-between;
}

.god-card {
    flex-direction: column;
    max-width: 180px;
}

.god-card img {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid black;
    margin-bottom: 10px;
}

.card-block .content{
    justify-content: space-between;
    padding: 40px 80px;
    margin: 40px auto;
}

.ragnarok .content {
    padding: 20px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 100px;
    height: auto;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 50, 44);
    color: white;
    padding: 20px 0px;
}
